@model Book

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*@using (Html.BeginForm(FormMethod.Post))
{

    @Html.LabelFor(m => m.Title)
    <br />
    @Html.TextBoxFor(m => m.Title)

    @Html.LabelFor(m => m.Publisher)
    <br />
    @Html.TextBoxFor(m => m.Publisher)
    <br />
    <button type="submit">Submit</button>


}*@

@Html.EditorForModel()

